@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission8Assignment_Group310.Models.Task

<div class="text-center">
    <h1 class="display-4">Enter Task Here</h1>

    <br />

    <div class="container">
        <div class="form-container">
            <form method="post">

                <!--Hidden FormId * -->
                <input asp-for="FormId" type="hidden" />

                <!-- Task (Required) • Due Date • Quadrant (Required) • Category (Dropdown containing options:  Home, School, Work, Church) • Completed (True/False) -->
                <label asp-for="TaskName">Task:</label>
                <input type="text" asp-for="TaskName" required />

                <!-- Due Date-->
                <label asp-for="DueDate">Due Date (MM-DD-YYYY):</label>
                <input type="text" asp-for="DueDate" required />

                <!-- Have the User select a Quadrant (1-3).-->
                <label asp-for="Quadrant">Quadrant:</label>
                <select asp-for="Quadrant" required>
                    <option value="">-- Select a Quadrant --</option>
                    <option value=1>1 - Urgent/Important </option>
                    <option value=2>2 - Not Urgent/Important</option>
                    <option value=3>3 - Urgent/Not Important</option>
                    <option value=4>4 - Not Urgent/Not Important</option>
                </select>

                <!-- Select a Task Category -->
                <label asp-for="CategoryID">Task Category:</label>
                <select asp-for="CategoryID">
                    <option value="">-- Select a Task Category --</option>
                    @foreach (Category category in ViewBag.categories)
                    {
                       <option value="@category.CategoryID">@category.CategoryName</option> 
                    };
                </select>

                <!-- Select Task Complete or Incomplete -->
                <label asp-for="Complete">Task Status:</label>
                <select asp-for="Complete">
                    <option value="">-- Select --</option>
                    <option value="true">Complete</option>
                    <option value="false">Incomplete</option>
                </select>

                <!-- Submit Button-->
                <button type="submit">Submit</button>

                <div asp-validation-summary="All"></div>

            </form>

        </div>

    </div>

</div>