@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <img src="./assets/Screenshot 2025-02-26 142815.png" />
    <br />

    <p>In the book “The 7 Habits of Highly Effective People”, Steven Covey talks about the habit of “Putting First Things First”, 
        and suggests that Tasks on the To Do list be broken out into four Quadrants. </p>
    <br>
    <p>Use our Task App to effectively store and manage your tasks!</p>
</div>
